In [ ]:
name = input("Enter The Name: ")
subject_1 = float(input("Enter The Subject 1 Marks: "))
subject_2 = float(input("Enter The Subject 2 Marks: "))
subject_3 = float(input("Enter The Subject 3 Marks: "))
subject_4 = float(input("Enter The Subject 4 Marks: "))
subject_5 = float(input("Enter The Subject 5 Marks: "))

marks = [subject_1, subject_2, subject_3, subject_4, subject_5]
grade = sum(marks) / len(marks)

if grade >= 80:
   performance = "Very Exellent"

elif grade >= 70 and grade <= 79:
     performance = "Exellent"

elif grade >= 60 and grade <= 69:
     performance = "Very Good"

elif grade >= 50 and grade <= 59:
     performance = "Good"

elif grade >= 40 and grade <= 49:
     performance = "Average"

else:
     performance = "Fail"

print(f'''

Students Report Card

Student Name: {name}
Student Subjects Marks: {marks}
Student Grade: {grade}
Student Performance: {performance}''')

Enter The Name: Abdul Subhan
Enter The Subject 1 Marks: 74
Enter The Subject 2 Marks: 78
Enter The Subject 3 Marks: 95
Enter The Subject 4 Marks: 76
Enter The Subject 5 Marks: 80


Students Report Card

Student Name: Abdul Subhan
Student Subjects Marks: [74.0, 78.0, 95.0, 76.0, 80.0]
Student Grade: 80.6
Student Performance: Very Exellent

In [ ]:
name = input("Enter the name: ")

item_1 = input("Enter the item 1: ")
item_1_price = int(input("Enter the item 1 price: "))

item_2 = input("Enter the item 2: ")
item_2_price = int(input("Enter the item 2 price: "))

item_3 = input("Enter the item 3: ")
item_3_price = int(input("Enter the item 3 price: "))

item_names = [item_1, item_2, item_3]
item_prices = [item_1_price, item_2_price, item_3_price]

total_price = sum(item_prices)

if total_price > 10000:
   discount_amount = total_price * 10 / 100
   final_price = total_price - discount_amount
   discount = f" {discount_amount}"

else:
     final_price = total_price
     discount = "No discount."

print(f'''

Shopping Bill

Customer Name: {name}
Items: {item_names}
Prices: {item_prices}
Total Price: {total_price}
10% Discount: {discount}
Final Price: {final_price}''')

Enter the name: Abdul Subhan
Enter the item 1: T.V.
Enter the item 1 price: 17000
Enter the item 2: Remote
Enter the item 2 price: 1000
Enter the item 3: Cable Wire
Enter the item 3 price: 2000


Shopping Bill

Customer Name: Abdul Subhan
Items: ['T.V.', 'Remote', 'Cable Wire']
Prices: [17000, 1000, 2000]
Total Price: 20000
10% Discount:  2000.0
Final Price: 18000.0

In [ ]:
name = input("Enter the student name: ")
age = int(input("Enter the student age: "))

math_numbers = float(input("Enter the student maths numbers: "))
science_numbers = float(input("Enter the student science numbers: "))
english_numbers = float(input("Enter the student english numbers: "))

numbers = [math_numbers, science_numbers, english_numbers]

student_info = {"name": name, "age": age, "numbers": numbers}

total_numbers = 0
for i in numbers:
    total_numbers += i

percentage = total_numbers / len(numbers)

student_info["percentage"] = percentage

if percentage >= 80:
   grade = "A+"
elif 70 <= percentage <= 79:
     grade = "A"
elif 60 <= percentage <= 69:
     grade = "B"
elif 50 <= percentage <= 59:
     grade = "C"
elif 40 <= percentage <= 49:
     grade = "D"
else:
     grade = "Fail"

print(f'''
Student Performance Report:

Name: {student_info["name"]}
Age: {student_info["age"]}
Scores: Math: {math_numbers}, Science: {science_numbers}, English: {english_numbers}
Percentage: {percentage:.1f}
Grade: {grade}''')

Enter the student name: Abdul Subhan
Enter the student age: 17
Enter the student maths numbers: 76
Enter the student science numbers: 95
Enter the student english numbers: 80

Student Performance Report:

Name: Abdul Subhan
Age: 17
Scores: Math: 76.0, Science: 95.0, English: 80.0
Percentage: 83.7
Grade: A+

In [ ]:
name = input("Enter your name: ").strip().title()
age = int(input("Enter your age: "))
nationality = input("Enter your nationality: ").strip().title()
skills = input("Enter at least 3 skills: ").strip().split()

if len(skills) < 3:
   print("You must enter at least 3 skills.")
else:
     print(f'''
    Personal Information:

    Name: {name}
    Age: {age}
    Nationality: {nationality}
    Skills: {', '.join([skill.strip().title() for skill in skills])}
    ''')

if age >= 18:
   print("You are eligible to apply for the job.")
else:
     print("You are not eligible to apply for the job.")

Enter your name: Abdul Subhan
Enter your age: 17
Enter your nationality: Pakistani
Enter at least 3 skills: HTML CSS Python

    Personal Information:

    Name: Abdul Subhan
    Age: 17
    Nationality: Pakistani
    Skills: Html, Css, Python

You are not eligible to apply for the job.

In [ ]:
import random
jackpot = random.randint(1, 100)

guess = int(input("Enter the number between 1 to 100: "))
counter = 1

while guess != jackpot:
      if guess < jackpot:
         print("Guess higher number")
      else:
           print("Guess lower number")

      guess = int(input("Enter the number between 1 to 100: "))
      counter += 1

print("Correct answer")
print("You took",counter,"attempts")

Enter the number between 1 to 100: 50
Guess lower number
Enter the number between 1 to 100: 10
Guess higher number
Enter the number between 1 to 100: 40
Guess lower number
Enter the number between 1 to 100: 20
Guess higher number
Enter the number between 1 to 100: 30
Guess lower number
Enter the number between 1 to 100: 25
Guess higher number
Enter the number between 1 to 100: 28
Guess higher number
Enter the number between 1 to 100: 29
Correct answer
You took 8 attempts

In [ ]:
# Problem 1
def square(number):
  return number ** 2

print(square(5))

25

In [ ]:
# Problem 2
def add(a, b):
  return a + b

print(add(5, 5))

10

In [ ]:
# Problem 3
def multiply(a, b):
  return a * b

print(multiply(5, 5))

25

In [ ]:
# Problem 4
def circle_status(radius):
  area = 3.14 * radius ** 2
  circumference = 2 * 3.14 * radius
  return area, circumference

result_1, result_2 = circle_status(5)
print("Area:", result_1)
print("Circumference:", result_2)

Area: 78.5
Circumference: 31.400000000000002

In [ ]:
# Problem 5
def greet(name = "User"):
  return "Hello " + name + "!"

print(greet())
print(greet("Abdul Subhan"))

Hello User!
Hello Abdul Subhan!

In [ ]:
# Problem 6
def cube(number):
  return number ** 3

print(cube(5))

125

In [ ]:
# Problem 7
def sum_all(*args):
  return sum(args)

print(sum_all(1, 2, 3, 4, 5))

15

In [ ]:
# Problem 8
def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_kwargs(Name = "Abdul Subhan", Age = 17, Gender = "Male")

Name: Abdul Subhan
Age: 17
Gender: Male

In [ ]:
# Problem 9
def even_generator(limit):
  for i in range(2, limit +1, 2):
    yield i

for num in even_generator(10):
  print(num)

2
4
6
8
10

In [ ]:
# Problem 10
def factorial(number):
  if number == 0:
    return 1
  else:
    return number * factorial(number - 1)

print(factorial(5))

120

In [ ]:
# Problem 11
def mean(l):
  total = 0
  for i in l:
    total = total + i
  return total / len(l)

mean([1, 2, 3, 4, 5])

3.0

In [ ]:
# Problem 12
def hello():
  return "Hello Friends"

print(hello())

Hello Friends

In [ ]:
# Problem 13
def data(name, roll_no, marks, grade):
  print(f"""Name: {name}
Roll No.: {roll_no}
Marks: {marks}
Grade: {grade}""")

data("Abdul Subhan", 31715, 79, "A")

Name: Abdul Subhan
Roll No.: 31715
Marks: 79
Grade: A

In [ ]:
# Problem 14
def para(text):
  print(text.lower())
  print(text.upper())

para("My name is Abdul Subhan")

my name is abdul subhan
MY NAME IS ABDUL SUBHAN

In [ ]:
# Problem 15
def square(num):
  return num ** 2

print(square(5))

25

In [ ]:
# Problem 16
def name(first_name, last_name):
  full_name = first_name + " " + last_name
  return full_name

name("Abdul", "Subhan")

'Abdul Subhan'

In [ ]:
# Program 17
def min_max(l):
  print("Minimum Number:", min(l), ",", "Maximum Number:", max(l))

min_max([1, 2, 3, 4, 5])

Minimum Number: 1 , Maximum Number: 5

In [ ]:
# Program 18
def l_square(l):
  return [i ** 2 for i in l]

l_square([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [ ]:
# Problem 19
def l_square(l):
  squares = []
  for i in l:
    squares.append(i ** 2)
  return squares

l_square([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [ ]:
# Problem 20
def add (l):
  total = 0
  for i in l:
    total += i
  return total

add([1, 2, 3, 4, 5])

15

In [ ]:
# Problem 21
def subtract(l):
  total = l[0]
  for i in l[1:]:
    total -= i
  return total

subtract([8, 5])

3

In [ ]:
# Problem 22
def multiply(l):
  total = 1
  for i in l:
    total *= i
  return total

multiply([5, 5])

25

In [ ]:
# Problem 23
def divide(l):
    total = l[0]
    for i in l[1:]:
        if i != 0:
            total /= i
        else:
            return "Cannot divide by zero"
    return total

divide([5, 5])

1.0

In [ ]:
# Problem 24
def average(l):
    total = 0
    for i in l:
        total += i
    return total / len(l)

average([1, 2, 3, 4, 5])

3.0

In [ ]:
# Problem 25
def even_numbers(l):
    evenlist = []
    for i in l:
        if i % 2 == 0:
            evenlist.append(i)
    return evenlist

even_numbers([1, 2, 3, 4, 5])

[2, 4]

In [ ]:
# Problem 26
def odd_numbers(l):
    oddlist = []
    for i in l:
        if i % 2 != 0:
            oddlist.append(i)
    return oddlist

odd_numbers([1, 2, 3, 4, 5])

[1, 3, 5]

In [ ]:
# Problem 27
def build_person(first_name, last_name, age = ""):
    person = {"First name":first_name, "Last_name":last_name}
    if age:
        person["age"] = age
    return person

build_person("Abdul", "Subhan", "17")

{'First name': 'Abdul', 'Last_name': 'Subhan', 'age': '17'}

In [ ]:
# Problem 28
def person_name():
  names = {"Abdul Subhan", "Abdullah", "Abdul Rehman", "Umer", "Umair", "Asim"}
  for name in names:
    print(name)
person_name()

Asim
Umer
Umair
Abdullah
Abdul Rehman
Abdul Subhan

In [ ]:
# Problem 29
def pizza(*toppings):
    for top in toppings:
        print(top)
pizza("Pappareno", "Double Chees", "Extra Chicken")

Pappareno
Double Chees
Extra Chicken

In [ ]:
# Problem 30
def build_profile(first, last, **user_profile):
    profile = {}
    profile["First name"] = first
    profile["Last name"] = last

    for key,value in user_profile.items():
        profile[key] = value


    return profile

build_profile("Abdul", "Subhan", Education = "Intermediate", College = "Cantt College")

{'First name': 'Abdul',
 'Last name': 'Subhan',
 'Education': 'Intermediate',
 'College': 'Cantt College'}

In [ ]:
# Problem 31
def findmax(l):
    maximum = 0
    for i in l:
        if i > maximum:
            maximum = i
    print(maximum)

findmax([2,3,5,4])

5

In [ ]:
# Problem 32
def count(text):
    words = 0
    digits = 0
    for i in text:
        if i.isalpha():
            words += 1
        if i.isdigit():
            digits += 1
    print("Words =", words)
    print("digits =", digits)

count("Subhan2110")

Words = 6
digits = 4

In [ ]:
# Problem 33
def maxword(text):
    max_wordlength = 0
    my_word = ""
    words = text.split(" ")
    for i in words:
        if len(i) > max_wordlength:
            my_word = i
    return my_word

maxword("I am Abdul Subhan")

'Subhan'

In [ ]:
# Problem 34
def display_message():
    print("I am learning this chapter about functions")

display_message()

I am learning this chapter about functions

In [ ]:
# Problem 35
def favourite_book(title):
    print(f"My favourite book name is {title}")


favourite_book("The true religion Islam")

My favourite book name is The true religion Islam

In [ ]:
# Problem 36
def make_shirt(message, size):
    shirt = message + " and " + size
    print(f"print message in shirt and size: {shirt}")

make_shirt("Legend", "large size")

print message in shirt and size: Legend and large size

In [ ]:
# Problem 37
def make_shirt():
    message = input("Enter your message to print on shirt: ")
    print(f"print message in shirt: {message}")

make_shirt()

Enter your message to print on shirt: HELLO!
print message in shirt: HELLO!

In [ ]:
# Problem 38
def describe_city(city_name, country_name):
    print(f"{city_name} is in {country_name}")

describe_city("Karachi", "Pakistan")

Karachi is in Pakistan

In [ ]:
# Problem 39
def city_country(city_name, country_name):
    print(city_name + " is in " + country_name)

city_country("Lahore", "Pakistan")

Lahore is in Pakistan

In [7]:
# Problem 40
# Check if a Number is Prime
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

print(is_prime(2))
print(is_prime(15))
print(is_prime(23))

True
False
True

In [8]:
# Problem 41
# Calculate Factorial Using a Loop
def factorial(number):
    if number < 0:
        return "Invalid input"
    result = 1
    for i in range(1, number + 1):
        result *= i
    return result

print(factorial(5))
print(factorial(0))
print(factorial(7))

120
1
5040

In [9]:
# Problem 42
# Count Vowels in a String
def number_of_vowels(count_vowels):
    vowels = "aeiouAEIOU"
    count = 0
    for i in count_vowels:
        if i in vowels:
            count += 1
    return count

print(number_of_vowels("Hello"))
print(number_of_vowels("Open AI Chat"))
print(number_of_vowels("Python"))

2
5
1

In [10]:
# Problem 43
# Check if a String is a Palindrome
def is_palindrome(word):
    word = word.lower()
    return word == word[::-1]

print(is_palindrome("racecar"))
print(is_palindrome("Hello"))

True
False

In [11]:
# Problem 44
# Find the Largest Number in a List
def find_largest(lst):
    if not lst:
        return "List is empty"
    largest = lst[0]
    for i in lst:
        if i > largest:
            largest = i
    return largest

print(find_largest([10, 20, 5, 3]))
print(find_largest([-1, -5, -3]))
print(find_largest([]))

20
-1
List is empty

In [12]:
# Problem 45
# Generate Fibonacci Sequence
def fibonacci(n):
    if n <= 0:
        return "Invalid input"
    sequence = [0, 1]
    while len(sequence) < n:
        sequence.append(sequence[-1] + sequence[-2])
    return sequence[:n]

print(fibonacci(5))
print(fibonacci(10))
print(fibonacci(1))

[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0]

In [13]:
# Problem 46
# Count Words in a String
def count_words(word):
    words = word.split()
    return len(words)

print(count_words("Hello world!"))
print(count_words("Python is fun"))
print(count_words("Count words"))

2
3
2

In [14]:
# Problem 47
# Check for Armstrong Number
def is_armstrong(num):
    digits = [int(i) for i in str(num)]
    total = sum(i ** 3 for i in digits)
    return total == num

print(is_armstrong(153))
print(is_armstrong(123))

True
False

In [15]:
# Problem 48
# Find the GCD of Two Numbers
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(gcd(54, 24))
print(gcd(48, 18))
print(gcd(101, 103))

6
6
1

In [17]:
# Problem 49
# Find All Factors of a Number
def factors(num):
    return [i for i in range(1, num + 1) if num % i == 0]

print(factors(12))
print(factors(7))
print(factors(15))

[1, 2, 3, 4, 6, 12]
[1, 7]
[1, 3, 5, 15]

In [18]:
# Problem 50
# Find the Second Largest Number in a List
def second_largest(lst):
    unique_numbers = list(set(lst))
    if len(unique_numbers) < 2:
        return "Not enough unique numbers"
    unique_numbers.sort()
    return unique_numbers[-2]

print(second_largest([10, 20, 4, 20]))
print(second_largest([4, 4, 4]))
print(second_largest([1, 5, 2, 9, 7]))

10
Not enough unique numbers
7

In [19]:
# Problem 51
# Check if Two Strings are Anagrams
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "world"))
print(are_anagrams("evil", "vile"))

True
False
True

In [20]:
# Problem 52
# Sum of Digits of a Number
def sum_of_digits(number):
    return sum(int(i) for i in str(number))

print(sum_of_digits(123))

6

In [21]:
# Problem 53
# Count Occurrences of a Character in a String
def count_char(word, char):
    return word.count(char)

print(count_char("hello", "l"))
print(count_char("python", "z"))

2
0

In [22]:
# Problem 55
# Find the Sum of a List Using a Function
def sum_list(lst):
    return sum(lst)

print(sum_list([1, 2, 3, 4, 5]))
print(sum_list([-1, 0, 1]))
print(sum_list([10, 20, 30]))

15
0
60

In [23]:
# Problem 56
# Find the Reverse of a String
def reverse_string(word):
    return word[::-1]

print(reverse_string("hello"))
print(reverse_string("12345"))

olleh
54321

In [24]:
# Problem 57
# Check if a Year is a Leap Year
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    return False

print(is_leap_year(2020))
print(is_leap_year(1900))
print(is_leap_year(2000))

True
False
True

In [25]:
# Problem 58
# Find the Length of a String Without Using len()
def string_length(string):
    count = 0
    for char in string:
        count += 1
    return count

print(string_length("hello"))
print(string_length("OpenAI"))
print(string_length(""))

5
6
0

In [26]:
# Problem 59
# Check if a List is Sorted
def is_sorted(lst):
    return lst == sorted(lst)

print(is_sorted([1, 2, 3, 4, 5]))
print(is_sorted([5, 4, 3, 2, 1]))
print(is_sorted([10, 20, 30, 40, 50]))

True
False
True

In [27]:
# Problem 60
# Convert a String to Title Case
def to_title_case(string):
    return " ".join(word.capitalize() for word in string.split())

print(to_title_case("hello world"))
print(to_title_case("python programming"))
print(to_title_case("this is a test"))

Hello World
Python Programming
This Is A Test

In [32]:
# Problem 61
# Calculate the Sum of Digits Until a Single Digit
def sum_to_single_digit(num):
    while num >= 10:
        num = sum(int(i) for i in str(num))
    return num

print(sum_to_single_digit(12345))

6

In [35]:
# Problem 62
# Check if a Number is Perfect
def is_perfect(num):
    divisors = [i for i in range(1, num) if num % i == 0]
    return sum(divisors) == num

print(is_perfect(6))
print(is_perfect(12))

True
False

In [37]:
# Problem 63
# Check if a Number is a Happy Number
def is_happy_number(num):
    visited = set()
    while num != 1 and num not in visited:
        visited.add(num)
        num = sum(int(d) ** 2 for d in str(num))
    return num == 1

print(is_happy_number(19))
print(is_happy_number(2))

True
False

In [46]:
# Problem 64
# Find the Longest Word in a Sentence
def longest_word(sentence):
    words = sentence.split()
    longest = max(words, key=len)
    return longest

print(longest_word("I love programming in Python"))

print(longest_word("Chat GPT is amazing"))
print(longest_word("Find the longest word"))

programming
amazing
longest

In [1]:
# Problem 65
# Calculate the Number of Upper and Lower Case Letters
def count_case(string):
    upper_count = sum(1 for char in string if char.isupper())
    lower_count = sum(1 for char in string if char.islower())
    return upper_count, lower_count

print(count_case("Hello World"))

(2, 8)