In [ ]:
name = input("Enter The Name: ")
subject_1 = float(input("Enter The Subject 1 Marks: "))
subject_2 = float(input("Enter The Subject 2 Marks: "))
subject_3 = float(input("Enter The Subject 3 Marks: "))
subject_4 = float(input("Enter The Subject 4 Marks: "))
subject_5 = float(input("Enter The Subject 5 Marks: "))

marks = [subject_1, subject_2, subject_3, subject_4, subject_5]
grade = sum(marks) / len(marks)

if grade >= 80:
   performance = "Very Exellent"

elif grade >= 70 and grade <= 79:
     performance = "Exellent"

elif grade >= 60 and grade <= 69:
     performance = "Very Good"

elif grade >= 50 and grade <= 59:
     performance = "Good"

elif grade >= 40 and grade <= 49:
     performance = "Average"

else:
     performance = "Fail"

print(f'''

Students Report Card

Student Name: {name}
Student Subjects Marks: {marks}
Student Grade: {grade}
Student Performance: {performance}''')

Enter The Name: Abdul Subhan
Enter The Subject 1 Marks: 74
Enter The Subject 2 Marks: 78
Enter The Subject 3 Marks: 95
Enter The Subject 4 Marks: 76
Enter The Subject 5 Marks: 80


Students Report Card

Student Name: Abdul Subhan
Student Subjects Marks: [74.0, 78.0, 95.0, 76.0, 80.0]
Student Grade: 80.6
Student Performance: Very Exellent

In [ ]:
name = input("Enter the name: ")

item_1 = input("Enter the item 1: ")
item_1_price = int(input("Enter the item 1 price: "))

item_2 = input("Enter the item 2: ")
item_2_price = int(input("Enter the item 2 price: "))

item_3 = input("Enter the item 3: ")
item_3_price = int(input("Enter the item 3 price: "))

item_names = [item_1, item_2, item_3]
item_prices = [item_1_price, item_2_price, item_3_price]

total_price = sum(item_prices)

if total_price > 10000:
   discount_amount = total_price * 10 / 100
   final_price = total_price - discount_amount
   discount = f" {discount_amount}"

else:
     final_price = total_price
     discount = "No discount."

print(f'''

Shopping Bill

Customer Name: {name}
Items: {item_names}
Prices: {item_prices}
Total Price: {total_price}
10% Discount: {discount}
Final Price: {final_price}''')

Enter the name: Abdul Subhan
Enter the item 1: Monitor
Enter the item 1 price: 5000
Enter the item 2: CPU
Enter the item 2 price: 10000
Enter the item 3: Keyboard and Mouse
Enter the item 3 price: 3000


Shopping Bill

Customer Name: Abdul Subhan
Items: ['Monitor', 'CPU', 'Keyboard and Mouse']
Prices: [5000, 10000, 3000]
Total Price: 18000
10% Discount:  1800.0
Final Price: 16200.0

In [ ]:
name = input("Enter the student name: ")
age = int(input("Enter the student age: "))

math_numbers = float(input("Enter the student maths numbers: "))
science_numbers = float(input("Enter the student science numbers: "))
english_numbers = float(input("Enter the student english numbers: "))

numbers = [math_numbers, science_numbers, english_numbers]

student_info = {"name": name, "age": age, "numbers": numbers}

total_numbers = 0
for i in numbers:
    total_numbers += i

percentage = total_numbers / len(numbers)

student_info["percentage"] = percentage

if percentage >= 80:
   grade = "A+"
elif 70 <= percentage <= 79:
     grade = "A"
elif 60 <= percentage <= 69:
     grade = "B"
elif 50 <= percentage <= 59:
     grade = "C"
elif 40 <= percentage <= 49:
     grade = "D"
else:
     grade = "Fail"

print(f'''
Student Performance Report:

Name: {student_info["name"]}
Age: {student_info["age"]}
Scores: Math: {math_numbers}, Science: {science_numbers}, English: {english_numbers}
Percentage: {percentage:.1f}
Grade: {grade}''')

Enter the student name: Abdul Subhan
Enter the student age: 17
Enter the student maths numbers: 76
Enter the student science numbers: 95
Enter the student english numbers: 80

Student Performance Report:

Name: Abdul Subhan
Age: 17
Scores: Math: 76.0, Science: 95.0, English: 80.0
Percentage: 83.7
Grade: A+

In [ ]:
sname = input("Enter your name: ").strip().title()
age = int(input("Enter your age: "))
nationality = input("Enter your nationality: ").strip().title()
skills = input("Enter at least 3 skills: ").strip().split()

if len(skills) < 3:
   print("You must enter at least 3 skills.")
else:
     print(f'''
    Personal Information:

    Name: {name}
    Age: {age}
    Nationality: {nationality}
    Skills: {', '.join([skill.strip().title() for skill in skills])}
    ''')

if age >= 18:
   print("You are eligible to apply for the job.")
else:
     print("You are not eligible to apply for the job.")

Enter your name: Abdul Subhan
Enter your age: 17
Enter your nationality: Pakistani
Enter at least 3 skills: HTML CSS Python

    Personal Information:

    Name: Abdul Subhan
    Age: 17
    Nationality: Pakistani
    Skills: Html, Css, Python

You are not eligible to apply for the job.

In [ ]:
import random
jackpot = random.randint(1, 100)

guess = int(input("Enter the number between 1 to 100: "))
counter = 1

while guess != jackpot:
      if guess < jackpot:
         print("Guess higher number")
      else:
           print("Guess lower number")

      guess = int(input("Enter the number between 1 to 100: "))
      counter += 1

print("Correct answer")
print("You took",counter,"attempts")

Enter the number between 1 to 100: 50
Guess lower number
Enter the number between 1 to 100: 10
Guess higher number
Enter the number between 1 to 100: 40
Guess lower number
Enter the number between 1 to 100: 20
Guess lower number
Enter the number between 1 to 100: 15
Guess lower number
Enter the number between 1 to 100: 13
Guess lower number
Enter the number between 1 to 100: 11
Correct answer
You took 7 attempts

In [ ]:
alpha = input("Enter The Alphabet: ")

if alpha == "a":
   print("This is vowel")

elif alpha == "e":
   print("This is vowel")

elif alpha == "i":
   print("This is vowel")

elif alpha == "o":
   print("This is vowel")

elif alpha == "u":
   print("This is vowel")

else:
     print("This is consunent")

Enter The Alphabet: i
This is vowel

In [ ]:
name = input("Enter The Name: ")
first_num = int((input("Enter The First Number: ")))
second_num = int((input("Enter The Second Number: ")))
operator = input("Enter The Operator (+, -, *, /): ")

if operator == "+":
   result = first_num + second_num

elif operator == "-":
     result = first_num - second_num

elif operator == "*":
     result = first_num * second_num

elif operator == "/":
     result = first_num / second_num

else:
    result = "Invalid operator"

if operator in ["+", "-", "*", "/"]:
    print(f"{first_num} {operator} {second_num} = {result}")

else:
    print("Error: Invalid operator entered.")

if first_num > 100:
   print(f'''My name is {name}, and {first_num} is grater then 100.''')

Enter The Name: Abdul Subhan
Enter The First Number: 20
Enter The Second Number: 10
Enter The Operator (+, -, *, /): *
20 * 10 = 200

In [ ]:
first_name = input("Enter The First Name: ")
last_name = input("Enter The Last Name: ")
birth_year = int(input("Enter The Birth Year: "))

full_name = first_name + last_name
print(full_name.capitalize())

age = 2024 - 2007
print(age)

if age >= 18:
   print(f'''My name is {name}. I am {age} years old. The user is greter then 18''')

else:
     print("The user is under 18")

Enter The First Name: Abdul
Enter The Last Name: Subhan
Enter The Birth Year: 2007
Abdulsubhan
17
The user is under 18

In [ ]:
num = int(input("Enter the Number:"))

if num % 2 == 0:
   print("Even Number")
else:
     print("Odd Number")

Enter the Number:4
Even Number

In [ ]:
name = input("Enter Your Name: ")
num_1 = float(input("Enter Your First Number: "))
num_2 = float(input("Enter Your Second Number: "))

result_1 = num_1 + num_2
result_2 = num_1 - num_2
result_3 = num_1 * num_2
result_4 = num_1 / num_2

print(f'''Nice to meet you! your name is {name} and your results is addition: {result_1}, subtraction: {result_2}, multiplication: {result_3} and division: {result_4}''')

Enter Your Name: Abdul Subhan
Enter Your First Number: 20
Enter Your Second Number: 10
Nice to meet you! your name is Abdul Subhan and your results is addition: 30.0, subtraction: 10.0, multiplication: 200.0 and division: 2.0

In [ ]:
first_name = input("Enter The First Name: ")
second_name = input("Enter The Second Name: ")
favorite_number = int(input("Enter the Favorite Number: "))

full_name = first_name+" "+second_name
complete_name = full_name.title()

if favorite_number % 2 == 0:
   print(f'''{favorite_number} is even Number''')
else:
     print(f'''{favorite_number} is odd Number''')

print(f'''Your name is {complete_name}.''')

Enter The First Name: Abdul
Enter The Second Name: Subhan
Enter the Favorite Number: 5
5 is odd Number
Your name is Abdul Subhan.

In [ ]:
name = input("Name: ")
father_name = input("Father Name: ")
age = int(input("Age: "))
college_class = int(input("Class: "))
roll_number = int(input("Roll Number: "))

english_marks = float(input("Enter The Marks Of English: "))
math_marks = float(input("Enter The Marks Of Math: "))
physics_marks = float(input("Enter The Marks Of Physics: "))
chemistry_marks =  float(input("Enter The Marks Of Chemistry: "))
computer_marks =  float(input("Enter The Marks Of Computer: "))

print("                                   Board Of Secondary Education Karachi")
print("                                                 Mark Sheet")

print("Name:",name.upper())
print("Father Name:",father_name.upper())
print("age:",age)
print("Class:",college_class)
print("Roll No.:",roll_number)

print(f'''     Subjects
English Marks: {english_marks}
Math Marks: {math_marks}
Physics Marks: {physics_marks}
Chemistry Marks: {chemistry_marks}
Computer Marks: {computer_marks}''')

total_marks = english_marks + math_marks + physics_marks + chemistry_marks + computer_marks
max_marks = 500
percentage = (total_marks / max_marks) * 100
grade = percentage

print(f'''     Result
Total Marks: {total_marks}
Percentage: {percentage}''')

if percentage >= 80:
   print("Grade: A+")

elif percentage >= 70:
      print("Grade: A")

elif percentage >= 60:
     print("Grade: B")

elif percentage >= 50:
     print("Grade: C")

elif percentage >= 40:
     print("Grade: D")

else:
     print("Fail")

Name: Abdul Subhan
Father Name: Saghir Muhammad
Age: 17
Class: 12
Roll Number: 31715
Enter The Marks Of English: 80
Enter The Marks Of Math: 76
Enter The Marks Of Physics: 95
Enter The Marks Of Chemistry: 78
Enter The Marks Of Computer: 74
                                   Board Of Secondary Education Karachi
                                                 Mark Sheet
Name: ABDUL SUBHAN
Father Name: SAGHIR MUHAMMAD
age: 17
Class: 12
Roll No.: 31715
     Subjects
English Marks: 80.0
Math Marks: 76.0
Physics Marks: 95.0
Chemistry Marks: 78.0
Computer Marks: 74.0
     Result
Total Marks: 403.0
Percentage: 80.60000000000001
Grade: A+

In [ ]:
book_title = input("Enter the title of the book: ")
aouther_name = input("Enter the Aouther Name: ")
book_price = int(input("Enter the price of the book (in dollars): "))

if book_price > 100:
    discount = book_price * 10 / 100

elif book_price < 50:
    discount = book_price * 5 / 100

else:
     discount = 0

final_price = book_price - discount

print(f'''   BILL SLIP

Book Title: {book_title}
Aouther Name: {aouther_name}
Original Price: {book_price}
Discount Applied: {discount}
Final Price to Pay: {final_price}''')

Enter the title of the book: THE GREATE MOON
Enter the Aouther Name: Abdul Subhan
Enter the price of the book (in dollars): 100
   BILL SLIP

Book Title: THE GREATE MOON
Aouther Name: Abdul Subhan
Original Price: 100
Discount Applied: 0
Final Price to Pay: 100

In [ ]:
gejit_name = input("Enter the gejit name: ")
gejit_price = int(input("Enter the gejit price: "))

if gejit_price > 500:
   discount = gejit_price * 15 / 100

elif gejit_price < 200:
     discount = gejit_price * 7 / 100

else:
     discount = 0

final_price = gejit_price - discount

print(f'''Recipt

Gegit_Name: {gejit_name}
Original price: {gejit_price}
Total discount: {discount}
Final price: {final_price}''')

Enter the gejit name: T.V.
Enter the gejit price: 15000
Recipt

Gegit_Name: T.V.
Original price: 15000
Total discount: 2250.0
Final price: 12750.0

In [ ]:
meal_cost = int(input("Enter the cost of meal: "))
meal_tax = int(input("Enter the tax of meal: "))
meal_tip = int(input("Enter the tip of meal: "))

tax_amount = meal_cost * 10/100
tip_amount = meal_cost * 5/100

total_meal_coat = meal_cost + tax_amount + tip_amount

print(f'''Meal Cost
Meal Cost: {meal_cost}
Meal Tax: {meal_tax}
Meal Tip: {meal_tip}
Total Meal Cost: {total_meal_coat}''')

Enter the cost of meal: 1000
Enter the tax of meal: 50
Enter the tip of meal: 100
Meal Cost
Meal Cost: 1000
Meal Tax: 50
Meal Tip: 100
Total Meal Cost: 1150.0

In [ ]:
height_in_centimeters = float(input("Enter Your Height (in cm): "))
weight_in_kilograms = float(input("Enter Your Weight (in kg): "))

height_in_meters = height_in_centimeters / 100
bmi = weight_in_kilograms / height_in_meters ** 2
print(f"BMI: {bmi}")

if bmi < 18.5:
    print("You are underweight")

elif bmi > 18.5 and bmi < 24.9:
    print("You have a normal weight")

elif bmi > 25 and bmi < 29.9:
    print("You are overweight")

elif bmi >= 30:
    print("You are obese")

    if bmi >= 30 and bmi > 40:
       print("You should consult a doctor")

else:
     print("You are very, very, very overweight")

Enter Your Height (in cm): 5.5
Enter Your Weight (in kg): 50
BMI: 16528.92561983471
You are obese
You should consult a doctor

In [ ]:
full_name = input("Enter Your Full Name: ")
secret_code = input("Enter Your Secret Code: ")

name_words = full_name.split()

if len(name_words) < 3:
   print("Please provide your full name (first, middle, and last).")

else:
     if len(secret_code) == 8 and secret_code.startswith("XYZ"):
        print(f'''Access granted for {full_name}''')

     else:
          print("Invalid secret code. Code must start with 'XYZ' and be 8 characters long")

Enter Your Full Name: Muhammad Abdul Subhan
Enter Your Secret Code: XYZ12345
Access granted for Muhammad Abdul Subhan

In [ ]:
name = input("Enter your name: ")

if len(name) != 8:
   print("Invalid: name must be exactly 8 characters long.")

   if not name[0].isalpha():
      print("Invalid: name must start with an alphabet character.")

   if " " in name:

      print("Invalid: name must not contain any spaces.")

else:
     print("Valid name!")

Enter your name: MASubhan
Valid name!

In [ ]:
number = int(input("Enter the number: "))

factorial = 1

while number > 1:
      factorial *= number
      number -= 1

print(factorial)

Enter the number: 5
120

In [ ]:
numbers = [1, 5, 2, 4, 3, 4, 2]

square_numbers = [i ** 2 for i in numbers if i % 2 == 0]

unique_numbers = []

[unique_numbers.append(i) for i in square_numbers if i not in unique_numbers]

sort_unique_numbers = sorted(unique_numbers)

print(sort_unique_numbers)

[4, 16]

In [ ]:
class Calculator:
  def __init__(self, a = 0, b = 0):
    self.a = a
    self.b = b

  def Add(self):
    return self.a + self.b

  def Sub(self):
    return self.a - self.b

  def Mul(self):
    return self.a * self.b

  def Div(self):
    return self.a / self.b

  def Reminder(self):
    return self.a % self.b

  def Square(self):
    return self.a ** 2

  def Cube(self):
    return self.a ** 3

result = Calculator(a = int(input("Enter the first number: ")), b = int(input("Enter the second number: ")))
print(result.Add())
print(result.Sub())
print(result.Mul())
print(result.Div())
print(result.Reminder())
print(result.Square())
print(result.Cube())

Enter the first number: 20
Enter the second number: 10
30
10
200
2.0
0
400
8000

In [ ]:
# Problem 1
# Numpy Problem
# Create an Array and Perform Element-wise Operations

import numpy as np

array = np.arange(1, 11)

result = array * 3 - 5

result

array([-2,  1,  4,  7, 10, 13, 16, 19, 22, 25])

In [ ]:
# Problem 2
# Pandas Problem
# Create a DataFrame and Display Specific Rows and Columns

import pandas as pd

df = pd.DataFrame({
    "Name":["Abdul Subhan", "Abdullah", "Abdul Rehman", "Areeba", "Eman", "Ummi"],
    "Age":[17, 19, 22, 24, 21, 7],
    "City":["Karachi", "Lahore", "Islamabad", "Quetta", "Peshawar", "Multan"]
})

filtered_ages = df[df["Age"] > 20]

result = filtered_ages["Name"]

result

2    Abdul Rehman
3          Areeba
4            Eman
Name: Name, dtype: object

In [ ]:
# Problem 3
# Numpy Problem
# Calculate the Mean Median and Standered Deviation

import numpy as np

array = np.array([4, 8, 15, 16, 23, 42])

mean = np.mean(array)
median = np.median(array)
std_dev = np.std(array)

mean, median, std_dev

(18.0, 15.5, 12.315302134607444)

In [ ]:
# Problem 4
# Pandas Problem
# Find and Replace Missing Values

import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name":["Abdul Subhan", "Abdullah", "Abdul Rehamn", "Areeba", "Eman", "Ummi"],
    "Age":[17, 19, np.nan, 24, 21, 7],
    "Salary":[17000, 19000, 22000, 24000, 21000, np.nan]
})

df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Salary"] = df["Salary"].fillna(df["Salary"].mean())

df

           Name   Age   Salary
0  Abdul Subhan  17.0  17000.0
1      Abdullah  19.0  19000.0
2  Abdul Rehamn  17.6  22000.0
3        Areeba  24.0  24000.0
4          Eman  21.0  21000.0
5          Ummi   7.0  20600.0

In [ ]:
# Problem 5
# Numpy Problem
# Reshape an Array

import numpy as np

array = np.arange(1, 13)

matrix = array.reshape(3, 4)

matrix