In [ ]:
name = input("Enter The Name: ")
subject_1 = float(input("Enter The Subject 1 Marks: "))
subject_2 = float(input("Enter The Subject 2 Marks: "))
subject_3 = float(input("Enter The Subject 3 Marks: "))
subject_4 = float(input("Enter The Subject 4 Marks: "))
subject_5 = float(input("Enter The Subject 5 Marks: "))

marks = [subject_1, subject_2, subject_3, subject_4, subject_5]
grade = sum(marks) / len(marks)

if grade >= 80:
   performance = "Very Exellent"

elif grade >= 70 and grade <= 79:
     performance = "Exellent"

elif grade >= 60 and grade <= 69:
     performance = "Very Good"

elif grade >= 50 and grade <= 59:
     performance = "Good"

elif grade >= 40 and grade <= 49:
     performance = "Average"

else:
     performance = "Fail"

print(f'''

Students Report Card

Student Name: {name}
Student Subjects Marks: {marks}
Student Grade: {grade}
Student Performance: {performance}''')

Enter The Name: Abdul Subhan
Enter The Subject 1 Marks: 74
Enter The Subject 2 Marks: 78
Enter The Subject 3 Marks: 95
Enter The Subject 4 Marks: 76
Enter The Subject 5 Marks: 80


Students Report Card

Student Name: Abdul Subhan
Student Subjects Marks: [74.0, 78.0, 95.0, 76.0, 80.0]
Student Grade: 80.6
Student Performance: Very Exellent

In [ ]:
name = input("Enter the name: ")

item_1 = input("Enter the item 1: ")
item_1_price = int(input("Enter the item 1 price: "))

item_2 = input("Enter the item 2: ")
item_2_price = int(input("Enter the item 2 price: "))

item_3 = input("Enter the item 3: ")
item_3_price = int(input("Enter the item 3 price: "))

item_names = [item_1, item_2, item_3]
item_prices = [item_1_price, item_2_price, item_3_price]

total_price = sum(item_prices)

if total_price > 10000:
   discount_amount = total_price * 10 / 100
   final_price = total_price - discount_amount
   discount = f" {discount_amount}"

else:
     final_price = total_price
     discount = "No discount."

print(f'''

Shopping Bill

Customer Name: {name}
Items: {item_names}
Prices: {item_prices}
Total Price: {total_price}
10% Discount: {discount}
Final Price: {final_price}''')

Enter the name: Abdul Subhan
Enter the item 1: T.V.
Enter the item 1 price: 17000
Enter the item 2: Remote
Enter the item 2 price: 1000
Enter the item 3: Cable Wire
Enter the item 3 price: 2000


Shopping Bill

Customer Name: Abdul Subhan
Items: ['T.V.', 'Remote', 'Cable Wire']
Prices: [17000, 1000, 2000]
Total Price: 20000
10% Discount:  2000.0
Final Price: 18000.0

In [ ]:
name = input("Enter the student name: ")
age = int(input("Enter the student age: "))

math_numbers = float(input("Enter the student maths numbers: "))
science_numbers = float(input("Enter the student science numbers: "))
english_numbers = float(input("Enter the student english numbers: "))

numbers = [math_numbers, science_numbers, english_numbers]

student_info = {"name": name, "age": age, "numbers": numbers}

total_numbers = 0
for i in numbers:
    total_numbers += i

percentage = total_numbers / len(numbers)

student_info["percentage"] = percentage

if percentage >= 80:
   grade = "A+"
elif 70 <= percentage <= 79:
     grade = "A"
elif 60 <= percentage <= 69:
     grade = "B"
elif 50 <= percentage <= 59:
     grade = "C"
elif 40 <= percentage <= 49:
     grade = "D"
else:
     grade = "Fail"

print(f'''
Student Performance Report:

Name: {student_info["name"]}
Age: {student_info["age"]}
Scores: Math: {math_numbers}, Science: {science_numbers}, English: {english_numbers}
Percentage: {percentage:.1f}
Grade: {grade}''')

Enter the student name: Abdul Subhan
Enter the student age: 17
Enter the student maths numbers: 76
Enter the student science numbers: 95
Enter the student english numbers: 80

Student Performance Report:

Name: Abdul Subhan
Age: 17
Scores: Math: 76.0, Science: 95.0, English: 80.0
Percentage: 83.7
Grade: A+

In [ ]:
name = input("Enter your name: ").strip().title()
age = int(input("Enter your age: "))
nationality = input("Enter your nationality: ").strip().title()
skills = input("Enter at least 3 skills: ").strip().split()

if len(skills) < 3:
   print("You must enter at least 3 skills.")
else:
     print(f'''
    Personal Information:

    Name: {name}
    Age: {age}
    Nationality: {nationality}
    Skills: {', '.join([skill.strip().title() for skill in skills])}
    ''')

if age >= 18:
   print("You are eligible to apply for the job.")
else:
     print("You are not eligible to apply for the job.")

Enter your name: Abdul Subhan
Enter your age: 17
Enter your nationality: Pakistani
Enter at least 3 skills: HTML CSS Python

    Personal Information:

    Name: Abdul Subhan
    Age: 17
    Nationality: Pakistani
    Skills: Html, Css, Python

You are not eligible to apply for the job.

In [ ]:
import random
jackpot = random.randint(1, 100)

guess = int(input("Enter the number between 1 to 100: "))
counter = 1

while guess != jackpot:
      if guess < jackpot:
         print("Guess higher number")
      else:
           print("Guess lower number")

      guess = int(input("Enter the number between 1 to 100: "))
      counter += 1

print("Correct answer")
print("You took",counter,"attempts")

Enter the number between 1 to 100: 50
Guess lower number
Enter the number between 1 to 100: 10
Guess higher number
Enter the number between 1 to 100: 40
Guess lower number
Enter the number between 1 to 100: 20
Guess higher number
Enter the number between 1 to 100: 30
Guess higher number
Enter the number between 1 to 100: 35
Guess lower number
Enter the number between 1 to 100: 33
Guess lower number
Enter the number between 1 to 100: 31
Correct answer
You took 8 attempts

In [ ]:
# Problem 1
def square(number):
  return number ** 2

square(5)

25

In [ ]:
# Problem 2
def add(a, b):
  return a + b

print(add(5, 5))

10

In [ ]:
# Problem 3
def multiply(p1, p2):
  return p1 * p2

print(multiply(5, 5))
print(multiply("a", 5))
print(multiply(5, "b"))

25
aaaaa
bbbbb

In [ ]:
# Problem 4
def circle_states(radius):
  area = 3.14 * radius ** 2
  circumference = 2 * 3.14 * radius
  return area, circumference

result_1, result_2 = circle_states(3)
print("Area:", result_1)
print("Circumference:", result_2)

Area: 28.26
Circumference: 18.84

In [ ]:
# Problem 5
def greet(name = "User"):
  return "Hello " + name + "!"

print(greet())
print(greet("Abdul Subhan"))

Hello User!
Hello Abdul Subhan!

In [ ]:
# Problem 6
def cube(number):
  return number ** 3

print(cube(5))

125

In [ ]:
# Problem 7
def sum_all(*args):
    print(args)
    for i in args:
        print(i * 2)
    return sum(args)

print(sum_all(1, 2, 3))

(1, 2, 3)
2
4
6
6

In [ ]:
# Problem 8
def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_kwargs(Name = "Abdul Subhan", Age = 17, Gender = "Male")

Name: Abdul Subhan
Age: 17
Gender: Male

In [ ]:
# Problem 9
def even_generator(limit):
    for i in range(2, limit + 1, 2):
        yield i

for num in even_generator(10):
    print(num)

2
4
6
8
10

In [ ]:
# Problem 10
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120

In [ ]:
# Problem 11
def mean(l):
    total = 0
    for i in l:
        total = total + i
    return total / len(l)

mean([1,2,3,4,5])

3.0

In [ ]:
# Problem 12
def hello():
    print("Hello friends")

hello()

Hello friends

In [ ]:
# Problem 13
def data(name, roll_no, marks, grade):
    print(f"""Name: {name}
Roll Number: {roll_no}
Marks: {marks}
Grade: {grade}""")

data("Abdul Subhan", 31715, 79, "A")

Name: Abdul Subhan
Roll Number: 31715
Marks: 79
Grade: A

In [ ]:
# Problem 14
def para(text):
    print(text.lower())
    print(text.upper())

para("My name is Abdul Subhan")

my name is abdul subhan
MY NAME IS ABDUL SUBHAN

In [ ]:
# Problem 15
def square(num):
    sqr = num ** 2
    return sqr

square(5)

25

In [ ]:
# Problem 16
def name(first_name, last_name):
    full_name = first_name + " " + last_name
    return full_name

name("Abdul", "Subhan")

'Abdul Subhan'

In [ ]:
# Program 17
def min_max(l):
    print("Minimum Value:", min(l), ",", "Maximum Value:", max(l))

min_max([2, 5, 6, 7, 4, 9])

Minimum Value: 2 , Maximum Value: 9

In [ ]:
# Program 18
def l_square(l):
    return[i ** 2 for i in l]

l_square([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [ ]:
# Problem 19
def l_square(l):
    squares = []
    for a in l:
        squares.append(a ** 2)
    return squares

l_square([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [ ]:
# Problem 20
def add(l):
    total = 0
    for i in l:
        total += i
    return total

add([1, 2, 3, 4, 5])

15

In [ ]:
# Problem 21
def subtract(l):
    total = l[0]
    for i in l[1:]:
        total -= i
    return total

subtract([5, 4])

1

In [ ]:
# Problem 22
def multiply(l):
    total = 1
    for i in l:
        total *= i
    return total

multiply([1, 2, 3, 4, 5])

120

In [ ]:
# Problem 23
def divide(l):
    total = l[0]
    for i in l[1:]:
        if i != 0:
            total /= i
        else:
            return "Cannot divide by zero"
    return total

divide([4, 5])

0.8

In [ ]:
# Problem 24
def average(l):
    total = 0
    for i in l:
        total += i
    return total / len(l)

average([1, 2, 3, 4, 5])

3.0

In [ ]:
# Problem 25
def even_numbers(l):
    evenlist = []
    for i in l:
        if i % 2 == 0:
            evenlist.append(i)
    return evenlist

even_numbers([1, 2, 3, 4, 5])

[2, 4]

In [ ]:
# Problem 26
def odd_numbers(l):
    oddlist = []
    for i in l:
        if i % 2 != 0:
            oddlist.append(i)
    return oddlist

odd_numbers([1, 2, 3, 4, 5])

[1, 3, 5]

In [ ]:
# Problem 27
def build_person(first_name, last_name,age=''):
    person={"First name":first_name, "Last_name":last_name}
    if age:
        person['age'] = age
    return person

build_person('Abdul','Subhan','17')

{'First name': 'Abdul', 'Last_name': 'Subhan', 'age': '17'}

In [ ]:
# Problem 28
names={"Abdul Subhan", "Abdullah", "Abdul Rehman", "Umer", "Umair", "Asim"}
def person_name():
    for name in names:
        print(name)
person_name()

Umer
Abdul Rehman
Abdul Subhan
Abdullah
Umair
Asim

In [ ]:
# Problem 29
def pizza(*toppings):
    for top in toppings:
        print(top)
pizza("Pappareno", "Double Chees", "Extra Chicken")

Pappareno
Double Chees
Extra Chicken

In [ ]:
# Problem 30
def build_profile(first, last, **user_profile):
    profile = {}
    profile["First name"] = first
    profile["Last name"] = last

    for key,value in user_profile.items():
        profile[key] = value


    return profile

build_profile("Abdul", "Subhan", Education = "Intermediate", College = "Cantt College")

{'First name': 'Abdul',
 'Last name': 'Subhan',
 'Education': 'Intermediate',
 'College': 'Cantt College'}

In [ ]:
# Problem 31
def findmax(l):
    maximum = 0
    for i in l:
        if i > maximum:
            maximum = i
    print(maximum)

findmax([2,3,5,4])

5

In [ ]:
# Problem 32
def count(text):
    a = 0
    b = 0
    for i in text:
        if i.isalpha():
            a += 1
        if i.isdigit():
            b += 1
    print("Words =", a)
    print("digits =", b)

count("Subhan2110")

Words = 6
digits = 4

In [ ]:
# Problem 33
def maxword(text):
    max_wordlength = 0
    my_word = ""
    words = text.split(" ")
    for i in words:
        if len(i) > max_wordlength:
            my_word = i
    return my_word

maxword("I am Abdul Subhan")

'Subhan'

In [ ]:
# Problem 34
def display_message():
    print("I am learning this chapter about functions")

display_message()

I am learning this chapter about functions

In [ ]:
# Problem 35
def favourite_book(title):
    print(f"My favourite book name is {title}")

favourite_book("The true religion Islam")

My favourite book name is The true religion Islam

In [ ]:
# Problem 36
def make_shirt(message, size):
    shirt = message + " " + size
    print(f"print message in shirt and size: {shirt}")

make_shirt("Legend", "large size")

print message in shirt and size: Legend large size

In [ ]:
# Problem 37
def make_shirt():
    message = input("Enter your message to print on shirt: ")
    print(f"print message in shirt: {message}")

make_shirt()

Enter your message to print on shirt:
print message in shirt:

In [ ]:
# Problem 38
def describe_city(city_name, country_name):
    print(f"{city_name} is in {country_name}")

describe_city("Karachi", "Pakistan")

Karachi is in Pakistan

In [ ]:
# Problem 39
def city_country(city_name, country_name):
    print(city_name + "," + country_name)

city_country("Lahore", "Pakistan")

Lahore,Pakistan

In [ ]:
# Problem 40
# Temperature Converter
def celsius_to_fahrenheit(celsius):
    return celsius * (9/5) + 32

print(celsius_to_fahrenheit(5))

41.0

In [ ]:
# Problem 41
# Word Counter
def count_words(sentence):
    words = sentence.split()
    return len(words)

print(count_words("Python is fun"))

3

In [ ]:
# Problem 42
# Maximum Finder
def find_max(*args):
    if not args:
        return None
    return max(args)

print(find_max(5, 1, -10, 50))
print(find_max())

50
None

In [ ]:
# Problem 43
# Check Prime
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

print(is_prime(10))
print(is_prime(13))

False
True

In [ ]:
# Problem 44
# Reverse String
def reverse_string(text):
    return text[::-1]

print(reverse_string("Python"))

nohtyP

In [ ]:
# Python 45
# Palindrome Checker
def is_palindrome(word):
    return word == word[::-1]

print(is_palindrome("racecar"))

True

In [ ]:
# Problem 46
# List Average
def list_average(numbers):
    if not numbers:
        return None
    return sum(numbers) / len(numbers)

print(list_average([10, 20, 30]))
print(list_average([]))

20.0
None

In [ ]:
# Problem 47
# Count Vowels
def count_vowels(text):
    vowels = "aeiouAEIOU"
    return sum(1 for i in text if i in vowels)

print(count_vowels("Hello World"))

3

In [ ]:
# Problem 48
# GCD (Greatest Common Divisor)
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(gcd(48, 18))

6

In [ ]:
# Problem 49
# Fibonacci Sequence
def fibonacci(n):
    fib_seq = []
    a, b = 0, 1
    for _ in range(n):
        fib_seq.append(a)
        a, b = b, a + b
    return fib_seq

print(fibonacci(5))

[0, 1, 1, 2, 3]

In [ ]:
# Problem 50
# Armstrong Number Checker
def is_armstrong(number):
    digits = [int(digit) for digit in str(number)]
    num_digits = len(digits)
    return sum(digit ** num_digits for digit in digits) == number

print(is_armstrong(153))
print(is_armstrong(123))

True
False

In [ ]:
# Problem 51
# Find Unique Elements
def find_unique(numbers):
    return [i for i in numbers if numbers.count(i) == 1]

print(find_unique([1, 2, 2, 3, 4, 4, 5]))

[1, 3, 5]

In [ ]:
# Problem 52
# Count Occurrences
def count_occurrences(text):
    return {i: text.count(i) for i in list(text)}

print(count_occurrences("hello"))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
# Problem 53
# Factorial Using Iteration
def iterative_factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print(iterative_factorial(5))

120

In [ ]:
# Problem 54
# Anagram Checker
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "world"))

True
False

In [ ]:
# Problem 55
# Find Second Largest Number
def second_largest(numbers):
    unique_numbers = list(set(numbers))
    unique_numbers.sort()
    return unique_numbers[-2] if len(unique_numbers) >= 2 else None

print(second_largest([10, 20, 30, 40, 50]))
print(second_largest([5, 5, 5]))

40
None

In [ ]:
# Problem 56
# Remove Duplicates from List
def remove_duplicates(numbers):
    return list(set(numbers))

print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [ ]:
# Problem 57
# Count Words Starting with a Specific Letter
def count_words_starting_with(sentence, letter):
    words = sentence.split()
    return sum(1 for i in words if i.lower().startswith(letter.lower()))

print(count_words_starting_with("Abdul Subhan Abdullah", "a"))

2

In [ ]:
# Problem 58
# Find Common Elements
def find_common_elements(list1, list2):
    return list(set(list1) & set(list2))

print(find_common_elements([1, 2, 3, 4], [3, 4, 5, 6]))

[3, 4]

In [ ]:
# Problem 59
# Letter Case Counter
def case_counter(text):
    result = {'uppercase': 0, 'lowercase': 0}
    for i in text:
        if i.isupper():
            result['uppercase'] += 1
        elif i.islower():
            result['lowercase'] += 1
    return result

print(case_counter("Hello World"))

{'uppercase': 2, 'lowercase': 8}

In [ ]:
# Problem 60
# Find the Longest Word
def longest_word(sentence):
    return max(sentence.split())

print(longest_word("I love programming in Python"))

programming

In [ ]:
# Problem 61
# Count Even and Odd Numbers
def count_even_odd(numbers):
    result = {'even': 0, 'odd': 0}
    for i in numbers:
        if i % 2 == 0:
            result['even'] += 1
        else:
            result['odd'] += 1
    return result

print(count_even_odd([1, 2, 3, 4, 5]))

{'even': 2, 'odd': 3}

In [ ]:
# Problem 62
# Find Divisors
def find_divisors(n):
    return [i for i in range(1, n + 1) if n % i == 0]

print(find_divisors(12))

[1, 2, 3, 4, 6, 12]

In [ ]:
# Problem 63
# Count Consonants
def count_consonants(text):
    vowels = "aeiouAEIOU"
    return sum(1 for i in text if i.isalpha() and i not in vowels)

print(count_consonants("Hello World"))

7

In [ ]:
# Problem 64
# Calculate Power Without Using **
def power(base, exponent):
    result = 1
    for i in range(exponent):
        result *= base
    return result

print(power(2, 3))

8

In [ ]:
# Problem 65
# Merge Two Dictionaries
def merge_dicts(dict1, dict2):
    merged = dict1.copy()
    merged.update(dict2)
    return merged

print(merge_dicts({"a": 1, "b": 2}, {"c": 3, "d": 4}))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Problem 66
# Find Missing Number in a List
def find_missing_number(numbers):
    n = len(numbers) + 1
    expected_sum = n * (n + 1) // 2
    actual_sum = sum(numbers)
    return expected_sum - actual_sum

print(find_missing_number([1, 2, 4, 5]))

3

In [ ]:
# Problem 67
# Check if List is Sorted
def is_sorted(numbers):
    return numbers == sorted(numbers)

print(is_sorted([1, 2, 3, 4, 5]))
print(is_sorted([5, 3, 1]))

True
False

In [ ]:
# Problem 68
# Calculate Compound Interest
def compound_interest(principal, rate, time, n):
    amount = principal * (1 + rate / n) ** (n * time)
    return round(amount, 2)

print(compound_interest(1000, 0.05, 10, 12))

1647.01

In [ ]:
# Problem 69
# Sort Words Alphabetically
def sort_words(sentence):
    words = sentence.split()
    return sorted(words)

print(sort_words("My name is Abdul Subhan"))

['Abdul', 'My', 'Subhan', 'is', 'name']

In [ ]:
# Problem 70
# Check if a Number is Perfect
def is_perfect(number):
    divisors = [i for i in range(1, number) if number % i == 0]
    return sum(divisors) == number

print(is_perfect(6))

True

In [ ]:
# Problem 71
# Reverse a List
def reverse_list(numbers):
    return numbers[::-1]

print(reverse_list([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [ ]:
# Problem 72
# Find the Sum of Digits
def sum_of_digits(number):
    return sum(int(i) for i in str(abs(number)))

print(sum_of_digits(12345))

15

In [ ]:
# Problem 73
# Check for Prime Number
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

print(is_prime(7))
print(is_prime(10))

True
False

In [ ]:
# Problem 74
# Find Prime Numbers in a Range
def prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

def prime_numbers_in_range(start, end):
    return [i for i in range(start, end + 1) if prime(i)]

print(prime_numbers_in_range(1, 20))

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
# Problem 75
# Convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

print(celsius_to_fahrenheit(0))

32.0

In [ ]:
# Problem 76
# Find the Second Smallest Number
def second_smallest(numbers):
    unique_numbers = sorted(set(numbers))
    return unique_numbers[1] if len(unique_numbers) > 1 else None

print(second_smallest([5, 2, 4, 3]))

3

In [ ]:
# Problem 77
# Count Duplicates in a List
def count_duplicates(numbers):
    return len([i for i in set(numbers) if numbers.count(i) > 1])

print(count_duplicates([1, 2, 2, 3, 4, 4, 5]))

2

In [ ]:
# Problem 78
# Calculate the Average of a List
def average(numbers):
    return sum(numbers) / len(numbers) if numbers else 0

print(average([1, 2, 3, 4, 5]))

3.0

In [ ]:
# Problem 79
# Check if a Year is a Leap Year
def is_leap_year(year):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

print(is_leap_year(2020))

True

In [ ]:
# Problem 80
# Calculate the Length of the Longest Word
def length_of_longest_word(sentence):
    return max(len(i) for i in sentence.split())

print(length_of_longest_word("I love programming"))

11

In [ ]:
#Problem 81
# Convert Decimal to Binary
def decimal_to_binary(number):
    return bin(number)[2:]

print(decimal_to_binary(10))

1010

In [ ]:
# Problem 82
# Check if a Number is a Perfect Square
def is_perfect_square(number):
    root = int(number ** 0.5)
    return root * root == number

print(is_perfect_square(16))

True

In [ ]:
# Problem 83
# Check if a List is Palindromic
def is_list_palindrome(numbers):
    return numbers == numbers[::-1]

print(is_list_palindrome([1, 2, 3, 2, 1]))

True

In [ ]:
# Problem 84
# Generate a List of Even Numbers
def generate_even_numbers(n):
    return [i for i in range(2, n + 1) if i % 2 == 0]

print(generate_even_numbers(10))

[2, 4, 6, 8, 10]

In [ ]:
# Problem 85
# Reverse Each Word in a Sentence
def reverse_words(sentence):
    return " ".join(i[::-1] for i in sentence.split())

print(reverse_words("Hello World"))

olleH dlroW

In [ ]:
# Problem 86
# Find Common Characters in Strings
def common_characters(str1, str2):
    return list(set(str1) & set(str2))

print(common_characters("hello", "world"))

['o', 'l']

In [ ]:
# Problem 87
# Find the Maximum Difference Between List Elements
def max_difference(numbers):
    return max(numbers) - min(numbers) if numbers else 0

print(max_difference([1, 2, 3, 10, 4]))

9

In [ ]:
# Problem 88
# Count the Number of Words in a Sentence
def word_count(sentence):
    return len(sentence.split())

print(word_count("Hello! Welcome to Python."))

4

In [ ]:
# Problem 89
# Flatten a Nested List
def flatten_list(nested_list):
    flat_list = []
    for i in nested_list:
        if isinstance(i, list):
            flat_list.extend(flatten_list(i))
        else:
            flat_list.append(i)
    return flat_list

print(flatten_list([1, [2, 3], [4, [5, 6]]]))

[1, 2, 3, 4, 5, 6]

In [ ]:
# Problem 90
# Check if a String is a Substring
def is_substring(sub, main_string):
    return sub in main_string

print(is_substring("Python", "I Love Programming in Python"))

True

In [ ]:
# Problem 91
# Calculate the Product of All List Elements
def product_of_list(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

print(product_of_list([1, 2, 3, 4, 5]))

120

In [ ]:
# Problem 92
# Check for Balanced Parentheses
def is_balanced(string):
    stack = []
    for i in string:
        if i == '(':
            stack.append(i)
        elif i == ')':
            if not stack:
                return False
            stack.pop()
    return len(stack) == 0

print(is_balanced("(())"))
print(is_balanced("(()"))

True
False

In [ ]:
# Problrm 93
# Count Specific Character Occurrences
def count_character(text, char):
    return text.count(char)

print(count_character("Hello World", "l"))

3

In [ ]:
# Problem 94
# Check if a String Contains Only Alphabets
def is_alpha_only(text):
    return text.isalpha()

print(is_alpha_only("Hello"))
print(is_alpha_only("Hello1"))

True
False

In [ ]:
# Problem 95
# Merge Two Dictionaries
def merge_dicts(dict1, dict2):
    return {**dict1, **dict2}

print(merge_dicts({"a": 1}, {"b": 2}))

{'a': 1, 'b': 2}

In [ ]:
# Problem 96
# Find the Fibonacci Sequence up to n Terms
def fibonacci_sequence(n):
    sequence = [0, 1]
    for i in range(2, n):
        sequence.append(sequence[-1] + sequence[-2])
    return sequence[:n]

print(fibonacci_sequence(5))

[0, 1, 1, 2, 3]

In [ ]:
# Problem 97
# Count Words Starting with a Vowel
def count_vowel_words(sentence):
    vowels = "aeiouAEIOU"
    words = sentence.split()
    return sum(1 for word in words if word[0] in vowels)

print(count_vowel_words("Apple and orange are fruits"))

4

In [ ]:
# Problem 98
# Convert a List of Tuples into a Dictionary
def list_to_dict(pairs):
    return dict(pairs)

print(list_to_dict([("a", 1), ("b", 2), ("c", 3)]))

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Problem 99
# Find All Divisors of a Number
def find_divisors(n):
    return [i for i in range(1, n + 1) if n % i == 0]

print(find_divisors(10))

[1, 2, 5, 10]

In [ ]:
# Problem 100
# Check if Two Strings are Anagrams
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "world"))

True
False