In [162]:
name = input("Enter The Name: ")
subject_1 = float(input("Enter The Subject 1 Marks: "))
subject_2 = float(input("Enter The Subject 2 Marks: "))
subject_3 = float(input("Enter The Subject 3 Marks: "))
subject_4 = float(input("Enter The Subject 4 Marks: "))
subject_5 = float(input("Enter The Subject 5 Marks: "))

marks = [subject_1, subject_2, subject_3, subject_4, subject_5]
grade = sum(marks) / len(marks)

if grade >= 80:
   performance = "Very Exellent"

elif grade >= 70 and grade <= 79:
     performance = "Exellent"

elif grade >= 60 and grade <= 69:
     performance = "Very Good"

elif grade >= 50 and grade <= 59:
     performance = "Good"

elif grade >= 40 and grade <= 49:
     performance = "Average"

else:
     performance = "Fail"

print(f'''

Students Report Card

Student Name: {name}
Student Subjects Marks: {marks}
Student Grade: {grade}
Student Performance: {performance}''')

Enter The Name: Abdul Subhan
Enter The Subject 1 Marks: 74
Enter The Subject 2 Marks: 78
Enter The Subject 3 Marks: 95
Enter The Subject 4 Marks: 76
Enter The Subject 5 Marks: 80


Students Report Card

Student Name: Abdul Subhan
Student Subjects Marks: [74.0, 78.0, 95.0, 76.0, 80.0]
Student Grade: 80.6
Student Performance: Very Exellent

In [165]:
name = input("Enter the name: ")

item_1 = input("Enter the item 1: ")
item_1_price = int(input("Enter the item 1 price: "))

item_2 = input("Enter the item 2: ")
item_2_price = int(input("Enter the item 2 price: "))

item_3 = input("Enter the item 3: ")
item_3_price = int(input("Enter the item 3 price: "))

item_names = [item_1, item_2, item_3]
item_prices = [item_1_price, item_2_price, item_3_price]

total_price = sum(item_prices)

if total_price > 10000:
   discount_amount = total_price * 10 / 100
   final_price = total_price - discount_amount
   discount = f" {discount_amount}"

else:
     final_price = total_price
     discount = "No discount."

print(f'''

Shopping Bill

Customer Name: {name}
Items: {item_names}
Prices: {item_prices}
Total Price: {total_price}
10% Discount: {discount}
Final Price: {final_price}''')

Enter the name: Abdul Subhan
Enter the item 1: T.V.
Enter the item 1 price: 17000
Enter the item 2: Remote
Enter the item 2 price: 1000
Enter the item 3: Cable Wire
Enter the item 3 price: 2000


Shopping Bill

Customer Name: Abdul Subhan
Items: ['T.V.', 'Remote', 'Cable Wire']
Prices: [17000, 1000, 2000]
Total Price: 20000
10% Discount:  2000.0
Final Price: 18000.0

In [166]:
name = input("Enter the student name: ")
age = int(input("Enter the student age: "))

math_numbers = float(input("Enter the student maths numbers: "))
science_numbers = float(input("Enter the student science numbers: "))
english_numbers = float(input("Enter the student english numbers: "))

numbers = [math_numbers, science_numbers, english_numbers]

student_info = {"name": name, "age": age, "numbers": numbers}

total_numbers = 0
for i in numbers:
    total_numbers += i

percentage = total_numbers / len(numbers)

student_info["percentage"] = percentage

if percentage >= 80:
   grade = "A+"
elif 70 <= percentage <= 79:
     grade = "A"
elif 60 <= percentage <= 69:
     grade = "B"
elif 50 <= percentage <= 59:
     grade = "C"
elif 40 <= percentage <= 49:
     grade = "D"
else:
     grade = "Fail"

print(f'''
Student Performance Report:

Name: {student_info["name"]}
Age: {student_info["age"]}
Scores: Math: {math_numbers}, Science: {science_numbers}, English: {english_numbers}
Percentage: {percentage:.1f}
Grade: {grade}''')

Enter the student name: Abdul Subhan
Enter the student age: 17
Enter the student maths numbers: 76
Enter the student science numbers: 95
Enter the student english numbers: 80

Student Performance Report:

Name: Abdul Subhan
Age: 17
Scores: Math: 76.0, Science: 95.0, English: 80.0
Percentage: 83.7
Grade: A+

In [167]:
name = input("Enter your name: ").strip().title()
age = int(input("Enter your age: "))
nationality = input("Enter your nationality: ").strip().title()
skills = input("Enter at least 3 skills: ").strip().split()

if len(skills) < 3:
   print("You must enter at least 3 skills.")
else:
     print(f'''
    Personal Information:

    Name: {name}
    Age: {age}
    Nationality: {nationality}
    Skills: {', '.join([skill.strip().title() for skill in skills])}
    ''')

if age >= 18:
   print("You are eligible to apply for the job.")
else:
     print("You are not eligible to apply for the job.")

Enter your name: Abdul Subhan
Enter your age: 17
Enter your nationality: Pakistani
Enter at least 3 skills: HTML CSS Python

    Personal Information:

    Name: Abdul Subhan
    Age: 17
    Nationality: Pakistani
    Skills: Html, Css, Python

You are not eligible to apply for the job.

In [173]:
import random
jackpot = random.randint(1, 100)

guess = int(input("Enter the number between 1 to 100: "))
counter = 1

while guess != jackpot:
      if guess < jackpot:
         print("Guess higher number")
      else:
           print("Guess lower number")

      guess = int(input("Enter the number between 1 to 100: "))
      counter += 1

print("Correct answer")
print("You took",counter,"attempts")

Enter the number between 1 to 100: 50
Guess lower number
Enter the number between 1 to 100: 10
Guess higher number
Enter the number between 1 to 100: 40
Guess lower number
Enter the number between 1 to 100: 20
Guess higher number
Enter the number between 1 to 100: 30
Guess lower number
Enter the number between 1 to 100: 25
Guess higher number
Enter the number between 1 to 100: 28
Guess higher number
Enter the number between 1 to 100: 29
Correct answer
You took 8 attempts

In [174]:
# Problem 1
def square(number):
  return number ** 2

print(square(5))

25

In [175]:
# Problem 2
def add(a, b):
  return a + b

print(add(5, 5))

10

In [176]:
# Problem 3
def multiply(a, b):
  return a * b

print(multiply(5, 5))

25

In [177]:
# Problem 4
def circle_status(radius):
  area = 3.14 * radius ** 2
  circumference = 2 * 3.14 * radius
  return area, circumference

result_1, result_2 = circle_status(5)
print("Area:", result_1)
print("Circumference:", result_2)

Area: 78.5
Circumference: 31.400000000000002

In [178]:
# Problem 5
def greet(name = "User"):
  return "Hello " + name + "!"

print(greet())
print(greet("Abdul Subhan"))

Hello User!
Hello Abdul Subhan!

In [179]:
# Problem 6
def cube(number):
  return number ** 3

print(cube(5))

125

In [180]:
# Problem 7
def sum_all(*args):
  return sum(args)

print(sum_all(1, 2, 3, 4, 5))

15

In [181]:
# Problem 8
def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_kwargs(Name = "Abdul Subhan", Age = 17, Gender = "Male")

Name: Abdul Subhan
Age: 17
Gender: Male

In [182]:
# Problem 9
def even_generator(limit):
  for i in range(2, limit +1, 2):
    yield i

for num in even_generator(10):
  print(num)

2
4
6
8
10

In [183]:
# Problem 10
def factorial(number):
  if number == 0:
    return 1
  else:
    return number * factorial(number - 1)

print(factorial(5))

120

In [184]:
# Problem 11
def mean(l):
  total = 0
  for i in l:
    total = total + i
  return total / len(l)

mean([1, 2, 3, 4, 5])

3.0

In [185]:
# Problem 12
def hello():
  return "Hello Friends"

print(hello())

Hello Friends

In [186]:
# Problem 13
def data(name, roll_no, marks, garde):
  print(f"""Name: {name}
Roll No.: {roll_no}
Marks: {marks}
Grade: {grade}""")

data("Abdul Subhan", 31715, 79, "A")

Name: Abdul Subhan
Roll No.: 31715
Marks: 79
Grade: A+

In [187]:
# Problem 14
def para(text):
  print(text.lower())
  print(text.upper())

para("My name is Abdul Subhan")

my name is abdul subhan
MY NAME IS ABDUL SUBHAN

In [188]:
# Problem 15
def square(num):
  return num ** 2

print(square(5))

25

In [189]:
# Problem 16
def name(first_name, last_name):
  full_name = first_name + " " + last_name
  return full_name

name("Abdul", "Subhan")

'Abdul Subhan'

In [190]:
# Program 17
def min_max(l):
  print("Minimum Number:", min(l), ",", "Maximum Number:", max(l))

min_max([1, 2, 3, 4, 5])

Minimum Number: 1 , Maximum Number: 5

In [191]:
# Program 18
def l_square(l):
  return [i ** 2 for i in l]

l_square([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [192]:
# Problem 19
def l_square(l):
  squares = []
  for i in l:
    squares.append(i ** 2)
  return squares

l_square([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [193]:
# Problem 20
def add (l):
  total = 0
  for i in l:
    total += i
  return total

add([1, 2, 3, 4, 5])

15

In [194]:
# Problem 21
def subtract(l):
  total = l[0]
  for i in l[1:]:
    total -= i
  return total

subtract([8, 5])

3

In [195]:
# Problem 22
def multiply(l):
  total = 1
  for i in l:
    total *= i
  return total

multiply([5, 5])

25

In [196]:
# Problem 23
def divide(l):
    total = l[0]
    for i in l[1:]:
        if i != 0:
            total /= i
        else:
            return "Cannot divide by zero"
    return total

divide([5, 5])

1.0

In [197]:
# Problem 24
def average(l):
    total = 0
    for i in l:
        total += i
    return total / len(l)

average([1, 2, 3, 4, 5])

3.0

In [198]:
# Problem 25
def even_numbers(l):
    evenlist = []
    for i in l:
        if i % 2 == 0:
            evenlist.append(i)
    return evenlist

even_numbers([1, 2, 3, 4, 5])

[2, 4]

In [199]:
# Problem 26
def odd_numbers(l):
    oddlist = []
    for i in l:
        if i % 2 != 0:
            oddlist.append(i)
    return oddlist

odd_numbers([1, 2, 3, 4, 5])

[1, 3, 5]

In [200]:
# Problem 27
def build_person(first_name, last_name, age = ""):
    person = {"First name":first_name, "Last_name":last_name}
    if age:
        person["age"] = age
    return person

build_person("Abdul", "Subhan", "17")

{'First name': 'Abdul', 'Last_name': 'Subhan', 'age': '17'}

In [201]:
# Problem 28
def person_name():
  names = {"Abdul Subhan", "Abdullah", "Abdul Rehman", "Umer", "Umair", "Asim"}
  for name in names:
    print(name)
person_name()

Asim
Abdullah
Umair
Abdul Subhan
Umer
Abdul Rehman

In [202]:
# Problem 29
def pizza(*toppings):
    for top in toppings:
        print(top)
pizza("Pappareno", "Double Chees", "Extra Chicken")

Pappareno
Double Chees
Extra Chicken

In [203]:
# Problem 30
def build_profile(first, last, **user_profile):
    profile = {}
    profile["First name"] = first
    profile["Last name"] = last

    for key,value in user_profile.items():
        profile[key] = value


    return profile

build_profile("Abdul", "Subhan", Education = "Intermediate", College = "Cantt College")

{'First name': 'Abdul',
 'Last name': 'Subhan',
 'Education': 'Intermediate',
 'College': 'Cantt College'}

In [204]:
# Problem 31
def findmax(l):
    maximum = 0
    for i in l:
        if i > maximum:
            maximum = i
    print(maximum)

findmax([2,3,5,4])

5

In [206]:
# Problem 32
def count(text):
    words = 0
    digits = 0
    for i in text:
        if i.isalpha():
            words += 1
        if i.isdigit():
            digits += 1
    print("Words =", words)
    print("digits =", digits)

count("Subhan2110")

Words = 6
digits = 4

In [207]:
# Problem 33
def maxword(text):
    max_wordlength = 0
    my_word = ""
    words = text.split(" ")
    for i in words:
        if len(i) > max_wordlength:
            my_word = i
    return my_word

maxword("I am Abdul Subhan")

'Subhan'

In [208]:
# Problem 34
def display_message():
    print("I am learning this chapter about functions")

display_message()

I am learning this chapter about functions

In [209]:
# Problem 35
def favourite_book(title):
    print(f"My favourite book name is {title}")


favourite_book("The true religion Islam")

My favourite book name is The true religion Islam

In [210]:
# Problem 36
def make_shirt(message, size):
    shirt = message + " and " + size
    print(f"print message in shirt and size: {shirt}")

make_shirt("Legend", "large size")

print message in shirt and size: Legend and large size

In [211]:
# Problem 37
def make_shirt():
    message = input("Enter your message to print on shirt: ")
    print(f"print message in shirt: {message}")

make_shirt()

Enter your message to print on shirt: HELLO!
print message in shirt: HELLO!

In [212]:
# Problem 38
def describe_city(city_name, country_name):
    print(f"{city_name} is in {country_name}")

describe_city("Karachi", "Pakistan")

Karachi is in Pakistan

In [213]:
# Problem 39
def city_country(city_name, country_name):
    print(city_name + " is in " + country_name)

city_country("Lahore", "Pakistan")

Lahore is in Pakistan

In [216]:
# Problem 40
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

print(is_prime(2))
print(is_prime(15))
print(is_prime(23))

True
False
True

In [220]:
# Problem 41
def factorial(number):
    if number < 0:
        return "Invalid input"
    result = 1
    for i in range(1, number + 1):
        result *= i
    return result

print(factorial(5))
print(factorial(0))
print(factorial(7))

120
1
5040

In [223]:
# Problem 42
def number_of_vowels(count_vowels):
    vowels = "aeiouAEIOU"
    count = 0
    for i in count_vowels:
        if i in vowels:
            count += 1
    return count

print(number_of_vowels("Hello"))
print(number_of_vowels("Open AI Chat"))
print(number_of_vowels("Python"))

2
5
1

In [233]:
# Problem 43
def is_palindrome(word):
    word = word.lower()
    return word == word[::-1]

print(is_palindrome("racecar"))
print(is_palindrome("Hello"))

True
False

In [241]:
# Problem 44
def find_largest(lst):
    if not lst:
        return "List is empty"
    largest = lst[0]
    for i in lst:
        if i > largest:
            largest = i
    return largest

print(find_largest([10, 20, 5, 3]))
print(find_largest([-1, -5, -3]))
print(find_largest([]))

20
-1
List is empty

In [242]:
# Problem 45
def fibonacci(n):
    if n <= 0:
        return "Invalid input"
    sequence = [0, 1]
    while len(sequence) < n:
        sequence.append(sequence[-1] + sequence[-2])
    return sequence[:n]

print(fibonacci(5))
print(fibonacci(10))
print(fibonacci(1))

[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0]

In [245]:
# Problem 46
def count_words(word):
    words = word.split()
    return len(words)

print(count_words("Hello world!"))
print(count_words("Python is fun"))
print(count_words("Count words"))

2
3
2